{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="card mx-auto" style="width: 26rem; margin-top: 10rem;">
        <h3 class="card-header text-center">
            ログアウトしました
        </h3>
        <div class="card-body text-center">
            <p>5秒後、トップページに移動します。</p>
            <p><a href="{% url 'core:top_page' %}">トップページに戻る</a></p>
        </div>
    </div>
    <script>
        setInterval(function () {
            window.location = "{% url 'core:top_page' %}";
        }, 5000);
    </script>
{% endblock %}