{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="mx-auto">
        <div class="row mx-auto my-2">
            {% for gift_type in gift_types %}
                <div class="col-3 px-0">
                    <div class="card mx-1 my-1">
                        <a href="{% url 'core:plot_gift' gift_type.name %}">
                            <img class="card-img-top" src="{% static gift_type.url %}" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

