<div>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
            src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=dplab02-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B08DD1F4RP&linkId=ea572f396f7d75b49b0831c217ecf830&bc1=ffffff&amp;lt1=_blank&fc1=db4141&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
            src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=dplab02-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B08VG2671S&linkId=346a48e41d542f6114d0eacc5b51b987"></iframe>
</div>