<div>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
            src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=dplab02-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B0766CBD61&linkId=27cc6f3114cb7d67de6a50584a40d003&bc1=ffffff&amp;lt1=_blank&fc1=db4141&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0"
            src="https://rcm-fe.amazon-adsystem.com/e/cm?ref=tf_til&t=dplab02-22&m=amazon&o=9&p=8&l=as1&IS2=1&detail=1&asins=B08QDLYC3F&linkId=6912e9974cb3def68a5b108368513da2&bc1=ffffff&amp;lt1=_blank&fc1=db4141&lc1=0066c0&bg1=ffffff&f=ifr">
    </iframe>
</div>