{% load widget_tweaks %}
<div>
    <h2 class="border-bottom border-dark">Profile</h2>
</div>
<div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">ユーザー名: </label>
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="{{ form.nickname.id_for_label }}">ニックネーム: </label>
            {{ form.nickname|add_class:"form-control" }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">メールアドレス: </label>
            {{ form.email|add_class:"form-control" }}
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label for="{{ form.password1.id_for_label }}">パスワード: </label>
                {{ form.password1|add_class:"form-control" }}
            </div>
            <div class="form-group col">
                <label for="{{ form.password2.id_for_label }}">確認: </label>
                {{ form.password2|add_class:"form-control" }}
            </div>
        </div>
        <div>
            {% if form.errors %}
                <small class="text-danger">Your username and password didn't match. Please try
                    again.</small>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <small>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</small>
                {% else %}
                    <small>Please login to see this page.</small>
                {% endif %}
            {% endif %}
        </div>
        <input type="submit" class="btn btn-info mt-3" value="Sign Up"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
</div>